@*@attribute [Authorize(Roles = "Yetkili,Muhasebe")]*@

<AuthorizeView Roles="admin">
    <Authorized>
        <section id="adminPanel">
            <div class="adminTitle">
                KONTROL PANELİ <i>admin</i>
            </div>
            <div class="adminName">
                @user.name @user.surname
            </div>
            <div class="adminButtons" id="nav">
                <a href="/note/notes" class="button">NOTLAR</a>
                <a href="/user/users" class="button">KULLANICILAR <i>(ekle / düzenle)</i></a>
                <a href="/note/addnote" class="button">YENİ NOT EKLE</a>
                <a href="" class="button">KATEGORİLER <i>(ekle / düzenle)</i></a>
                 <MudBadge Content="@notifications.Count" Color="Color.Secondary" Overlap="true">
                    <a href="/notifications" class="button">BİLDİRİMLER</a>
                </MudBadge>
                <a href="/auth/logout" class="button">ÇIKIŞ</a>
            </div>
        </section>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="kullanıcı">
    <Authorized>
        <section id="adminPanel">
            <div class="adminTitle">
                KONTROL PANELİ
            </div>
            <div class="adminName">
                Sn. @user.title @user.name @user.surname
            </div>
            <div class="adminButtons">
                <a href="/note/addnote" class="button">Not Ekle</a>
                <button id="messageSend" class="button" style="margin-bottom: 20px;font-size:16px;" @onclick="SendMail">Yönetici ile İletişime Geç</button>
                <MudBadge Content="@notifications.Count" Color="Color.Secondary" Overlap="true">
                    <a href="/notifications" class="button">BİLDİRİMLER</a>
                </MudBadge>
                <a href="/auth/logout" class="button">ÇIKIŞ</a>
            </div>
        </section>
    </Authorized>
</AuthorizeView>
