@page "/note/addnote"

<AuthorizeView>
    <NotAuthorized>
        <LoginRouting />
    </NotAuthorized>
</AuthorizeView>

<MudGrid>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect ValueChanged="Change1" AdornmentColor="Color.Secondary" T="int" Label="BÖLÜM" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in category1)
            {
                <MudSelectItem Value="@(item.id)">@item.categoryname</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect ValueChanged="Change2" AdornmentColor="Color.Secondary" T="int" Label="SINIF" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in category2)
            {
                <MudSelectItem Value="@(item.id)">@item.categoryname</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect ValueChanged="Change3" AdornmentColor="Color.Secondary" T="int" Label="YARIYIL" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in category3)
            {
                <MudSelectItem Value="@(item.id)">@item.categoryname</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect ValueChanged="Change4" AdornmentColor="Color.Secondary" T="int" Label="DÖNEM" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in category4)
            {
                <MudSelectItem Value="@(item.id)">@item.categoryname</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>

<div class="uploadWrapper">
    <div class="row aln-middle">
        <div class="uploads col-12">
            <div id="drag-and-drop-zone" class="dm-uploader">
                <div class="btn btn-primary new button btn-block mb-5">
                    <span>Dosya Seç</span>
                    <input type="file" title='Dosya Seç' />
                </div>
                <h3 class="mb-5 mt-5 text-muted">Dosya Yükle / Sürükle Bırak</h3>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Yükledikleriniz:
                    </div>

                    <ul class="list-unstyled" id="files">
                        <li class="text-muted text-center empty">Henü dosya eklemediniz.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
