@using Microsoft.AspNetCore.Authorization

@page "/note/addnote"
@page "/note/addnote/{parentid:int}"

@inject ISnackbar Snackbar


<AuthorizeView>
    <NotAuthorized>
        <LoginRouting />
    </NotAuthorized>
</AuthorizeView>


<MudGrid>
    <MudIconButton Title="Bir üst kategori için tıklayınız..." OnClick="()=>GetParentCategory()" Icon="@Icons.Filled.ArrowBack" Color="Color.Secondary" Size="Size.Small" />
    <MudText Typo="Typo.body1">@title</MudText>
</MudGrid>
<br />
<div class="col col-12 displayinlineflex">
    <div class="col col-3 col-12-mobile">
        @foreach (var item in category.Skip(0).Take(10))
        {
            <button title="@item.categoryname" class="button col-12 col-12-mobile" @onclick="()=>GetSubCategory(item)">@item.categoryname</button>
        }
    </div>
     <div class="col-3">
        @foreach (var item in category.Skip(1*10).Take(10))
        {
            <button title="@item.categoryname" class="button col-12 col-12-mobile" @onclick="()=>GetSubCategory(item)">@item.categoryname</button>
        }
    </div>
     <div class="col-3">
        @foreach (var item in category.Skip(2*10).Take(10))
        {
            <button title="@item.categoryname" class="button col-12 col-12-mobile" @onclick="()=>GetSubCategory(item)">@item.categoryname</button>
        }
    </div>
     <div class="col-3">
        @foreach (var item in category.Skip(3*10).Take(10))
        {
            <button title="@item.categoryname" class="button col-12 col-12-mobile" @onclick="()=>GetSubCategory(item)">@item.categoryname</button>
        }
    </div>
</div>
<br />
<br />

@if (showuploadpanelon)
{
    <MudPaper @ondragenter="@(()=>_dragEnterStyle="drag-enter")"
          @ondragleave="@(()=>_dragEnterStyle=null)"
          @ondragend="@(()=>_dragEnterStyle=null)"
          Class=@("drag-drop-zone "+ _dragEnterStyle)>

        <InputFile OnChange="OnInputFileChanged" webkitRelativePath multiple class="drag-drop-input" />

        @if (fileNames.Count() == 0)
        {
            <MudText Typo="Typo.h4">Dosya Yükle / Sürükle Bırak</MudText>
        }
        else
        {
            <MudList Style="padding:2em;width:100%;" Dense="true">
                @foreach (var file in fileNames)
                {
                    <MudListItem @key="@file">
                        <MudChip Color="Color.Dark"
                     Style="width:60px; overflow:hidden;"
                     Text="@(file.Split(".").Last())" />
                        @file
                    </MudListItem>
                }
            </MudList>
        }
    </MudPaper>
    <br />
    <br />
    <MudGrid Justify="Justify.Center" Spacing="4">
        <MudItem>
            <MudButton OnClick="Upload" Disabled="@(!(fileNames.Any()))" Color="Color.Primary" Variant="Variant.Filled">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Yükleniyor</MudText>
                }
                else
                {
                    <MudText>Yükle</MudText>
                }
            </MudButton>
        </MudItem>
        <MudItem>
            <MudButton OnClick="Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">Temizle</MudButton>
        </MudItem>
    </MudGrid>
}

<style>
    .drag-drop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;
        min-height: 200px;
        border: 2px dashed #650f52;
        border-radius: 10px;
        background: rgb(101 15 82 / 10%);
    }

    .drag-drop-input {
        position: absolute;
        height: 25%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        width: 60%;
    }

    .drag-enter {
        box-shadow: var(--mud-elevation-10);
    }

    .list {
        padding: 2em;
        min-width: 100%;
    }
</style>
