@page "/note/addnote"

<AuthorizeView>
    <NotAuthorized>
        <LoginRouting />
    </NotAuthorized>
</AuthorizeView>

<MudGrid>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect AdornmentColor="Color.Secondary" T="string" Label="BÖLÜM" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("Cappuccino")" />
            <MudSelectItem Value="@("Cafe Latte")" />
            <MudSelectItem Value="@("Espresso")" />
            <MudSelectItem Value="@("Irish Coffee")" />
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect AdornmentColor="Color.Secondary" T="string" Label="SINIF" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("Cappuccino")" />
            <MudSelectItem Value="@("Cafe Latte")" />
            <MudSelectItem Value="@("Espresso")" />
            <MudSelectItem Value="@("Irish Coffee")" />
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect AdornmentColor="Color.Secondary" T="string" Label="YARIYIL" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("Apple Pie")" />
            <MudSelectItem Value="@("Blackberry Pie")" />
            <MudSelectItem Value="@("Rhubarb Pie")" />
            <MudSelectItem Value="@("Lemon Pie")" />
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="6">
        <MudSelect AdornmentColor="Color.Secondary" T="string" Label="DÖNEM" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("Apple Pie")" />
            <MudSelectItem Value="@("Blackberry Pie")" />
            <MudSelectItem Value="@("Rhubarb Pie")" />
            <MudSelectItem Value="@("Lemon Pie")" />
        </MudSelect>
    </MudItem>
</MudGrid>



<MudTabs Outlined="true" Position="Position.Left" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Item One">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Item Two">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Item Three">
        <MudText>Content Three</MudText>
    </MudTabPanel>
</MudTabs>







<div class="uploadWrapper">
    <div class="row aln-middle">
        <div class="uploads col-12">
            <div id="drag-and-drop-zone" class="dm-uploader">
                <div class="btn btn-primary new button btn-block mb-5">
                    <span>Dosya Seç</span>
                    <input type="file" title='Dosya Seç' />
                </div>
                <h3 class="mb-5 mt-5 text-muted">Dosya Yükle / Sürükle Bırak</h3>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Yükledikleriniz:
                    </div>

                    <ul class="list-unstyled" id="files">
                        <li class="text-muted text-center empty">Henü dosya eklemediniz.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DataTable 1 -->
<div class="dataTableWrapper">
    <table id="examplee" class="display default second-data-table" style="width:100%">
        <thead>
            <tr>
                <th>DOSYA İSMİ</th>
                <th>BOYUT</th>
                <th>SINIF</th>
                <th>DÖNEM</th>
                <th>KATEGORİ</th>
                <th>YÜKLENME TARİHİ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
        </tbody>
    </table>
</div>