@page "/note/notes"

<AuthorizeView>
    <NotAuthorized>
        <LoginRouting />
    </NotAuthorized>
</AuthorizeView>


<MudTable Class="dataTableWrapper" LoadingProgressColor="Color.Secondary" Items="@savedFiles" Dense="false" Hover="true" Bordered="false" Striped="false" Filter="new Func<FileOnTheCloud.Shared.DbModel.SavedFile,bool>(FilterFuncSavedFile)" @bind-SelectedItem="selectedItemSavedFile">
    <ToolBarContent>
        <MudText Typo="Typo.h6">DOSYA YÜKLEME GEÇMİŞİ</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchStringSavedFile" Placeholder="Ara" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<FileOnTheCloud.Shared.DbModel.SavedFile, object>(x=>savedFiles.IndexOf(x))">SIRA</MudTableSortLabel></MudTh>
        <MudTh>BÖLÜM</MudTh>
        <MudTh>SINIF</MudTh>
        <MudTh>DÖNEM</MudTh>
        <MudTh>KATEGORİ</MudTh>
        <MudTh>DOSYA İSMİ</MudTh>
        <MudTh>BOYUT</MudTh>
        <MudTh>YÜKLENME TARİHİ</MudTh>
    </HeaderContent>
    <RowTemplate>
       @* <MudTd DataLabel="#">
            <button class="userlistbutton" @onclick="()=>Seen(context)">GÖRÜLDÜ</button>
            <button class="userlistbutton" @onclick="()=>SendReply(context)">YANITLA</button>
        </MudTd>*@
        <MudTd DataLabel="SIRA">@Convert.ToInt32(savedFiles.IndexOf(context) + 1)</MudTd>
        <MudTd DataLabel="BÖLÜM">@context.department</MudTd>
        <MudTd DataLabel="SINIF">@context.grade</MudTd>
        <MudTd DataLabel="DÖNEM">@context.semester</MudTd>
        <MudTd DataLabel="KATEGORİ">@context.midtermandfinal</MudTd>
        <MudTd DataLabel="DOSYA İSMİ">@string.Concat(context.filename+"."+context.fileextension)</MudTd>
        <MudTd DataLabel="BOYUT">@context.filesize</MudTd>
        <MudTd DataLabel="YÜKLENME TARİHİ">@context.createdate</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilen Kayıt" />
    </PagerContent>
</MudTable>


@*
<a style="padding-right: 20%;border-bottom: 1px solid #650f52;margin: 12px;">DOSYA YÜKLEME GEÇMİŞİ</a>
<div class="dataTableWrapper">
    <table id="examplee" class="display default second-data-table" style="width:100%">
        <thead>
            <tr>
                <th>SIRA</th>
                <th>BÖLÜM</th>
                <th>SINIF</th>
                <th>DÖNEM</th>
                <th>KATEGORİ</th>
                <th>DOSYA İSMİ</th>
                <th>BOYUT</th>
                <th>YÜKLENME TARİHİ</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in savedFiles)
            {
                 <tr>
                    <th scope="row">@(savedFiles.IndexOf(item)+1)</th>
                    <td>@item.department</td>
                    <td>@item.grade</td>
                    <td>@item.semester</td>
                    <td>@item.midtermandfinal</td>
                    <td>@string.Concat(item.filename+"."+item.fileextension)</td>
                    <td>@item.filesize</td>
                    <td>@item.createdate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
*@