@page "/note/notes"


@inject ISnackbar Snackbar

<AuthorizeView>
    <NotAuthorized>
        <LoginRouting />
    </NotAuthorized>
</AuthorizeView>


<MudTable cli Class="dataTableWrapper" LoadingProgressColor="Color.Secondary" Items="@savedFiles"  Hover="true" Filter="new Func<FileOnTheCloud.Shared.DbModel.SavedFile,bool>(FilterFuncSavedFile)" @bind-SelectedItem="selectedItemSavedFile">
    <ToolBarContent>
        <MudText Typo="Typo.body1">DOSYA YÜKLEME GEÇMİŞİ</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchStringSavedFile" Placeholder="Ara" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <AuthorizeView Roles="admin">
            <Authorized>
                <MudTh>#</MudTh>
            </Authorized>
        </AuthorizeView>
        <MudTh><MudTableSortLabel SortBy="new Func<FileOnTheCloud.Shared.DbModel.SavedFile, object>(x=>savedFiles.IndexOf(x))">SIRA</MudTableSortLabel></MudTh>
        <MudTh>BÖLÜM</MudTh>
        <MudTh>SINIF</MudTh>
        <MudTh>DÖNEM</MudTh>
        <MudTh>KATEGORİ</MudTh>
        <MudTh>DOSYA İSMİ</MudTh>
        <MudTh>BOYUT</MudTh>
        <MudTh>YÜKLENME TARİHİ</MudTh>
    </HeaderContent>
    <RowTemplate Context="note">
        <AuthorizeView Roles="admin">
            <Authorized>
                <MudTd DataLabel="#">
                    <button class="userlistbutton" @onclick="()=>DeleteNote(note)">SİL</button>

                    <button class="userlistbutton" @onclick="()=>DownloadNote(note)">İNDİR</button>
                </MudTd>
            </Authorized>
        </AuthorizeView>
        <MudTd DataLabel="SIRA">@Convert.ToInt32(savedFiles.IndexOf(note) + 1)</MudTd>
        <MudTd DataLabel="BÖLÜM">@note.department</MudTd>
        <MudTd DataLabel="SINIF">@note.grade</MudTd>
        <MudTd DataLabel="DÖNEM">@note.semester</MudTd>
        <MudTd DataLabel="KATEGORİ">@note.midtermandfinal</MudTd>
        <MudTd DataLabel="DOSYA İSMİ">@note.filename</MudTd>
        <MudTd DataLabel="BOYUT">@note.filesize MB</MudTd>
        <MudTd DataLabel="YÜKLENME TARİHİ">@note.createdate</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Gösterilen Kayıt" />
    </PagerContent>
</MudTable>