@inherits BaseModal

<MudText Typo="Typo.body1">@Message</MudText>

<div style="text-align: center;padding-top: 5%;">
    <button class="btn btn-outline-secondary" @onclick="@ConfirmClicked">@YesText</button>
    <button class="btn btn-outline-secondary " @onclick="@CancelClicked">@CancelText</button>
</div>

@code { public override async Task SetParametersAsync(ParameterView parameters)
    {
        Message = parameters.GetValueOrDefault<string>("Message") ?? "Mesaj Yok";
        YesText = parameters.GetValueOrDefault<string>("YesText") ?? "Evet";
        CancelText = parameters.GetValueOrDefault<string>("CancelText") ?? "Hayır"; ;

        await base.SetParametersAsync(parameters);
    } }