@using Microsoft.AspNetCore.Authorization

@page "/user/users"

@attribute [Authorize(Roles = "admin")]


<a href="/user/adduser" class="button col-3 col-6-mobile">Kullanıcı Ekle</a>
<br/>
<br/>
<div class="dataTableWrapper">
    <table id="example" class="display default first-data-table" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>KULLANICI İSMİ</th>
                <th>BÖLÜM</th>
                <th>KAYIT TARİHİ</th>
                <th>ÜNVAN</th>
                <th>E-POSTA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userlist)
            {
                <tr>
                    <th scope="row">@userlist.IndexOf(item)</th>
                    <td>@item.name</td>
                    <td>@item.surname</td>
                    <td>@item.title</td>
                    <td>@item.department</td>
                    <td>@item.emailaddress</td>
                    <td>@item.role</td>
                    <td>
                        <button title="Kullanıcıyı silmek için tıklayınız..."class="userlistbutton" @onclick="()=>DeleteUser(item.id)">SİL</button>

                        <button title="Kullanıcıyı düzenlemek için tıklayınız..." class="userlistbutton" @onclick="()=>GotoEditUser(item.id)">DÜZENLE</button>

                        <button title="Kullanıcıya bildirim göndermek için tıklayınız..." class="userlistbutton" @onclick="()=>SendNotification(item.emailaddress)">GÖNDER</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

